{{ define "main" }}
{{ $navclass := .Site.Params.css_navclass_a }}
	This is the event single template <br>


     <div class="">
          <h1>{{.Title}}</h1>
          <div>When: {{ dateFormat "Monday, Jan 2, 2006" .ExpiryDate }}</div>
          <div>{{if .Params.pools}}Where:
          	{{range .Params.pools}}
           			<a class="{{ $navclass}} " href="{{ "/pools/" | relLangURL }}{{ . | urlize }}">{{ . }}</a>
           		{{end}}
          {{end}}</div>
          <div>{{if .Params.author}}Author: {{.Params.Author}}{{end}}</div>
          <div>{{if .Params.author}}Author: {{.Params.Author}}{{end}}</div>
          <div>{{if .Params.author}}Author: {{.Params.Author}}{{end}}</div>
          <div>{{.Content}}</div>
     </div>
     <p>Default event single page</p>
{{ end }}

